/* styles.css */

/* Style for the sum-box */
.sum-box {
    background-color: #f2f2f2; /* Background color for the box */
    border-radius: 10px; /* Add curved corners */
    padding: 5px; /* Add padding inside the box */
    padding-left: 10px;
    margin-top: 1px; /* Adjust the margin as needed */
    text-align: center; /* Center the content horizontally */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    width: 75%;
    height: 70px;
    position: relative;
}

/* Style for the sum-value */
.sum-box h2 {
    font-size: 10px; /* Adjust the font size for the heading */
    margin: 0; /* Remove margin for the heading */
    text-align: left;
    color: #373452;
}

/* Style for the sum-value */
.sum-box p#sum-value {
    font-size: 24px; /* Adjust the font size for the sum value */
    margin: 35px 0; /* Add margin to separate the heading and value */
    font-weight: bold; /* Make the value text bold */
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: #373452;
}
